.mockup-outer{
  width:435px;
  height:865px;
  background:no-repeat center / cover url('/img/iphonese.png');
  position: relative; 
}
.mockup-inner{
  width:375px;
  height:667px;
  top:11.5%;
  left:7%;
  background-color:rgba(255,255,255,1);
  position: absolute; 
}
@media (max-width:600px) {
  .mockup-outer{
    width: 100%;
    height: auto;
    position: relative; 
    background: none;
  }
  .mockup-inner{
    width:100%;
    height: 570px;
    top:0;
    left:0;
    background-color:rgba(255,255,255,1);
    position: relative; 
  }
}
.calendar-cell{
  width:120px;
  height: 36px;
  overflow-y: hidden;
}
.calendar-cell-inner{
  height: 100%;
  max-height: 36px;
}
.calendar-head{
  width:160px;
}
.calendar-head-date{
  width:120px;
}
.土{
  background-color: #d7eefb!important;
}
.日{
  background-color: #fbe9e9!important;
}
.sat{
  background-color: #d7eefb!important;
}
.sun{
  background-color: #fbe9e9!important;
}
.schedule-btn{
  /* background: url("/img/circle.png") no-repeat center / contain; */
  height:8px;
  margin: 4px 0;
}
.test{
  background-color: #d7eefb!important;
}
.checked{
  background-color: #44a4db!important;
}